---
layout: page
section: page
permalink: about/
redirect_from: 
  - impacts/
  - content/
  - faqs/
  - collections/
title: About OldMapsOnline
description: About project OldMapsOnline
keywords: about, project, oldmapsonline
---

<div class="inline-block">
<h1>The search engine for historical maps</h1>

<p>OldMapsOnline developed out of a love of history and heritage of old maps. The project 
began as a collaboration between Klokan Technologies GmbH, Switzerland and
The Great Britain Historical GIS Project based at the University of Portsmouth, UK thanks to funding from JISC.
Since January 2013 is the project improved and maintained by volunteers and the team of Klokan Technologies GmbH in their free time.<br/>
You can contact the project team at: <script type="text/javascript"><!--
var uahxapr = ['f','c','o','m','o','g','p','i','m','@','a','>','s','p','f','e','d','e','<','i','/','o','l','s','o','>','m','"','n','e','n','"',' ','a','o','o','i','a','l','t','n','r','o','h','a','a','i','d','m','i','.','f','l','s','e','"',':','@','o','r','=','<','a','i','=','l','n','.','o','l','r','a',' ','n','g','l','"','l','n','s'];var brziwih = [18,40,19,24,66,37,26,69,62,20,1,53,27,64,6,33,23,5,76,16,77,21,12,65,73,79,9,52,67,47,32,38,39,10,35,57,54,42,68,13,29,4,14,3,25,63,50,61,48,31,34,56,51,44,71,46,15,58,28,36,45,0,78,11,7,60,17,72,59,22,74,49,2,70,75,30,8,41,55,43];var dzgenll= new Array();for(var i=0;i<brziwih.length;i++){dzgenll[brziwih[i]] = uahxapr[i]; }for(var i=0;i<dzgenll.length;i++){document.write(dzgenll[i]);}
// --></script>
For inquiries related to rights for a particular map contact the relevant institution bellow!
</p>

<h4>Technology</h4>

<p>The website has been created by <a href="http://www.klokantech.com">Klokan Technologies GmbH</a>, 
specialists in online map publishing and in applications of open-source software.
It aims to demonstrate a combination of tools for publishing historical maps with a focus on their easy accessibility for the general 
public. The core of the retrieval system is the <a href="http://www.mapranksearch.com">MapRank Search</a> software, developed originally for the Swiss <a href="http://www.kartenportal.ch/en/">Kartenportal.CH</a> project.
Website is optimised for search engine with GeoSEO powered by Linked Data. The web exposes Structured Data (Scheme.org).
The technology and expertise from this project can be applied on another projects on request.

<h4>Let's work together</h4>
We are keen to imporove this project and participate on a new research and projects in the field of digital historical cartography. We are open for partnership on national or 
european R&D projects. Don't hesitate to contact us!

<h2 class="padt-4">Content</h2>

<p>OldMapsOnline.org indexes over 400.000 maps. This is only thanks to the archives and libraries that were open to the idea and provided their online content.  
All new participants are warmly welcomed.</p>
<p>
<a href="/add-maps/" class="btn">Add your maps to OldMapsOnline</a>
</p>
<p>
<a href="/get-involved/" class="btn">Help other institutions</a>
</p>

<h2 class="padt-4">The participating institutions</h2>

{% assign maps_in_omo = 0 %}
{% assign maps_in_omo_mob = 0 %}

{% assign collections = site.data.collections | sort: 'repository_num_maps_in_omo' %}

{% for coll in collections reversed %}
{% if coll.repository_title.size > 0 %}
{% capture maps_in_omo %}{{  maps_in_omo |plus: coll.repository_num_maps_in_omo }}{% endcapture %}
{% capture maps_in_omo_mob %}{{  maps_in_omo_mob |plus: coll.repository_num_maps_in_omo_mobile }}{% endcapture %}
<div class="row">
  <div class="col8">
    <h3>
      <a href="{{coll.repository_link}}" target="_blank"
         title="Maps in OMO:{{coll.repository_num_maps_in_omo}} Maps in OMOMobile:{{coll.repository_num_maps_in_omo_mobile}}">
        {{coll.repository_title}}</a>
    </h3>
    <p>{% if coll.repository_title.size > 0 %}{{coll.repository_description}}{% endif %}</p>
  </div>
  <div class="col4 center pady-3">
    <img src="http://images.georeferencer.com/repositories/{{coll.repository_id}}/logo.png"
         alt="{{coll.repository_title}}"
         style="max-width: 100%;">
  </div>
</div>
{% endif %}
{% endfor %}
<div class="row">
  <div class="col12">
    <p><b>Total maps in OldMapsOnline: {{maps_in_omo}}</b></p>
    <p><b>Total maps in Mobile App: {{maps_in_omo_mob}}</b></p>
  </div>
</div>
</div>
