---
layout: page
section: page
permalink: about/
redirect_from: ["content/"]
title: About OldMapsOnline
description: About project OldMapsOnline
keywords: about, project, oldmapsonline
---

<div class="inline-block">
<h1>The search engine for historical map</h1>

<p>OldMapsOnline was developed with a love of history and heritage of old maps, and
thanks to all participants, this site now lists over half a million historical maps. The project 
was created in 2012 through a collaboration between Klokan Technologies GmbH, 
Switzerland and The University of Portsmouth, UK.</p>

<h3>Technology</h3>

<p>The website is created by <a href="http://www.klokantech.com">Klokan Technologies GmbH</a>, 
specialists in online map publishing
and in applications of open-source software. Our aim is to demonstrate a combination of 
tools for publishing historical maps with a focus on their easy accessibility by the general 
public. If you wish to include these technologies for other purposes, such as in National or 
European development projects, we can share our expertise and help play a part. 
Please contact us on <a href="http://www.klokantech.com/contact/"> our website</a>.</p>

<h2 class="padt-4">Content</h2>

<p>Since 2012, OldMapsOnline.org has indexed over half a million maps. This is only thanks to
the archives and libraries that were open to the idea and provided their online content. All 
new participants are warmly welcomed.</p>

<a href="/add-maps/" class="btn">Add maps to OldMapsOnline</a>

<h2 class="padt-4">The participating institutions</h2>

{% assign maps_in_omo = 0 %}
{% assign maps_in_omo_mob = 0 %}

{% assign collections = site.data.collections | sort: 'repository_num_maps_in_omo' %}

{% for coll in collections reversed %}
{% if coll.repository_title.size > 0 %}
{% capture maps_in_omo %}{{  maps_in_omo |plus: coll.repository_num_maps_in_omo }}{% endcapture %}
{% capture maps_in_omo_mob %}{{  maps_in_omo_mob |plus: coll.repository_num_maps_in_omo_mobile }}{% endcapture %}
<div class="row">
  <div class="col8">
    <h3>
      <a href="{{coll.repository_link}}" target="_blank"
         title="Maps in OMO:{{coll.repository_num_maps_in_omo}} Maps in OMOMobile:{{coll.repository_num_maps_in_omo_mobile}}">
        {{coll.repository_title}}</a>
    </h3>
    <p>{% if coll.repository_title.size > 0 %}{{coll.repository_description}}{% endif %}</p>
  </div>
  <div class="col4 center pady-3">
    <img src="http://images.georeferencer.com/repositories/{{coll.repository_id}}/logo.png"
         alt="{{coll.repository_title}}"
         style="max-width: 100%;">
  </div>
</div>
{% endif %}
{% endfor %}
<div class="row">
  <div class="col12">
    <p><b>Total maps in OldMapsOnline: {{maps_in_omo}}</b></p>
    <p><b>Total maps in Mobile App: {{maps_in_omo_mob}}</b></p>
  </div>
</div>
</div>