---
layout: page
section: content
permalink: content/
title: Collections
description: Collections
keywords: collections, institutions
---

<h1>Content</h1>

<p>Since 2012, OldMapsOnline.org has indexed over half a million maps. This is 
  only thanks to the archives and libraries, that were opened to the idea and 
  provided their online content. All new participants are therefore warmly 
  welcomed.</p> 

<a href="/contribute/" class="btn">Add maps to OldMapsOnline</a>

<h2 class="padt-4">The participating institutions</h2>

{% for coll in site.data.collections %}
{% if coll.repository_title.size > 0 %}
<div class="row">
  <div class="col8">
    <h3>
      <a href="{{coll.repository_link}}" target="_blank">{{coll.repository_title}}</a>
    </h3>
    <p>{{coll.repository_description}}</p>
  </div>
  <div class="col4 center pady-3">
    <img src="http://www.oldmapsonline.org/img/logo/{{coll.repository_name}}.png" 
         alt="{{coll.repository_title}}"
         style="max-width: 100%;">
  </div>
</div>
{% endif %}
{% endfor %}
