---
layout: default
section: default
permalink: get-involved/
title: Get Involved
description: Join us to improve OldMapsOnline project
keywords: get tnvolved, contibute, cultural heritage
---

<div class="page-block mary-3 padb-2">
  <div class="row">
    <div class="col12 center pady-3">
      <h1 class="large">Help us place the scanned maps</h1>
      <p class="big"><b>Thousands of maps are still waiting to be be discovered and located.<br>
          Five minutes of your time will help to add a map to the OldMapsOnline.</b></p>
    </div>
  </div>
  <div class="row">
    <div class="offset4 col4 center">
      <div class="pady-2 mary-2 padx-2 bg-light">
        <a href="http://rumsey.georeferencer.com/random/" class="btn large marbottom-no">Add&nbsp;location&nbsp;to&nbsp;a&nbsp;map</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col12 center">
      <p class="big">This easy process lets you to add a geographical position to any scanned old map<br>
        and overlay it in over 3D Google Earth or Google Maps.</p>
    </div>
  </div>   

  <div class="row">
    <div class="col12 center">
      <h2 class="padt-5">How does it work</h2>
      <iframe width="640" height="480" src="https://www.youtube.com/embed/0OrSVn8k8Mc" frameborder="0" allowfullscreen></iframe>  </div>
  </div>   

  <div class="row">
    <div class="col12 center">
      <h3 class="padt-4">The participating institutions</h3>
      {% for coll in site.data.collections %}
      {% if coll.repository_title.size > 0 %}
      <a href="{{coll.repository_link}}">
        <img class="desaturate mar-1" 
             src="http://images.georeferencer.com/repositories/{{coll.repository_id}}/logo.png"
             alt="{{coll.repository_title}}"
             style="height:50px;">
      </a>
      {% endif %}
      {% endfor %}
      <p>Read <a href="/add-maps/">Add maps</a> to join as an institution.</p>
    </div>
  </div>
</div>