---
layout: default
section: page
---

<div class="row">
  <div class="col8">
    <div class=" pad-4">
      {{content}}
    </div>
  </div>
  <div class="col4">
    <div class=" pad-4">
      <ul>
        <li><a href="{{site.baseurl}}/about/">About</a></li>
        <li><a href="{{site.baseurl}}/collections/">Content</a></li>
        <li><a href="{{site.baseurl}}/contribute/">Add maps</a></li>
        <li><a href="{{site.baseurl}}/blog/">News</a></li>
        <li><a href="{{site.baseurl}}/design/">Design</a></li>
        <li><a href="{{site.baseurl}}/faq/">Frequently Asked Questions</a></li>
        <li><a href="{{site.baseurl}}/impacts/">Impacts</a></li>
        <li><a href="{{site.baseurl}}/privacy/">Privacy and Cookies</a></li>
        <li><a href="{{site.baseurl}}/publish/">Publish</a></li>
        <li><a href="{{site.baseurl}}/terms/">Terms of Use</a></li>
      </ul>
    </div>
  </div>
</div>
