---
layout: default
---

<div class="row">
  <div class="col9">
    <div class="padx-4 pady-6">
      <div class="page-block">
        {{content}}
      </div>
    </div>
  </div>
  <div class="col3">
    <div class="pady-4">
      <ul class="page-sidenav">
        <li><a href="{{site.baseurl}}/about/">About</a></li>
        <li><a href="{{site.baseurl}}/content/">Content</a></li>
        <li><a href="{{site.baseurl}}/contribute/">Add maps</a></li>
        <li><a href="{{site.baseurl}}/blog/">News</a></li>
        <li><a href="{{site.baseurl}}/design/">Design</a></li>
        <li><a href="{{site.baseurl}}/faq/">Frequently Asked Questions</a></li>
        <li><a href="{{site.baseurl}}/impacts/">Impacts</a></li>
        <li><a href="{{site.baseurl}}/privacy/">Privacy and Cookies</a></li>
        <li><a href="{{site.baseurl}}/publish/">Publish</a></li>
        <li><a href="{{site.baseurl}}/validator/">Validator</a></li>
        <li><a href="{{site.baseurl}}/terms/">Terms of Use</a></li>
      </ul>
    </div>
  </div>
</div>
