---
layout: default
---

<div class="row">
  <div class="col9">
      <div class="page-block">
        {{content}}
      </div>
  </div>
  <div class="col3">
    <div class="pady-4">
      <ul class="page-sidenav">
        <li><a href="{{site.baseurl}}/about/">About</a></li>
        <li><a href="{{site.baseurl}}/add-maps/">Add maps</a></li>
        <li><a href="{{site.baseurl}}/link-to-us/">Link to us</a></li>
        <li><a href="{{site.baseurl}}/privacy/">Privacy and Cookies</a></li>
        <li><a href="{{site.baseurl}}/terms/">Terms of Use</a></li>
      </ul>

      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-0328423815528922"
           data-ad-slot="4524958727"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

    </div>
  </div>
</div>
