---
layout: default
section: press
---

<div class="row">
  <div class="col8">
    <div class="padx-4 pady-6">
      {{content}}
    </div>
  </div>
  <div class="col4">
    <div class="blog-sidebar pady-4 padx-2">

      <h3>Downloads</h3>
      <a href="#">All files in archive (zip)</a>
      <h3>Movie</h3>
      <a href="https://youtu.be/I0AKfkM5oyI" target="_blank">Mobile app introducing (Youtube)</a>
      <h3>Graphic</h3>
      <p>OldMapsOnline logo:<br>
        <a href="/img/oldmapsonline-logo.png" target="_blank">
        <img src="/img/oldmapsonline-logo.png" alt="OldMapsOnline logo" style="width: 80%;"><br>
        Small (350 x 178 px)</a><br>
        <a href="/img/oldmapsonline-logo-large.png" target="_blank">Large (1051 x 535 px)</a>
      </p>
      <p>Screenshots:<br>

      </p>

    </div>
  </div>
</div>
