---
layout: default
section: press
---

<div class="row">
  <div class="col8">
    <div class="padx-4 pady-6">
      {{content}}
    </div>
  </div>
  <div class="col4">
    <div class="blog-sidebar pady-4 padx-2">

      <h2>Media Kit</h2>

      <p class="center">
        <a href="https://youtu.be/WpB6j1b2Ax0" target="_blank">
          <img src="/img/press/video1.jpg" alt="OldMapsOnline Mobile App" style="width:240px;"><br>
          Mobile app (video)</a><br>
      </p>

      <p class="center">
        <a href="https://youtu.be/ZpjUfy2f2kw" target="_blank">
          <img src="/img/press/video2.jpg" alt="OldMapsOnline Interview" style="width:240px;"><br>
          Interview with the founder (video)</a><br>
      </p>

      <p class="center">
        <a href="/img/oldmapsonline-1024x500.jpg" target="_blank">
          <img src="/img/oldmapsonline-1024x500.jpg" alt="OldMapsOnline logo" style="width:240px;"><br>
          Project logo (1024x500px)</a><br>
      </p>

      <p class="center">
        <a href="https://drive.google.com/a/klokantech.com/folderview?id=0BwUe1kqIRJWSfnIwbTdSTjZzTHltZGVMT2QzaDJIQjd1TDlqOTcydzJQcWhROHgtMVc1ZjA&usp=sharing" target="_blank">
          <img src="/img/press/mediakit.jpg" alt="MediaKit" style="width:240px;"><br>
          Media kit</a><br>
      </p>

<!--
      <p class="center">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/I0AKfkM5oyI" frameborder="0" allowfullscreen></iframe>
        <a href="https://youtu.be/I0AKfkM5oyI" target="_blank">Mobile app intro</a><br><br>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/ZpjUfy2f2kw" frameborder="0" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=ZpjUfy2f2kw" target="_blank">Interview with the founder</a><br>
      <p>

      <p class="center">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/I0AKfkM5oyI" frameborder="0" allowfullscreen></iframe>
        <a href="https://youtu.be/I0AKfkM5oyI" target="_blank">Mobile app intro</a><br><br>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/ZpjUfy2f2kw" frameborder="0" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=ZpjUfy2f2kw" target="_blank">Interview with the founder</a><br>
      <p>
      <h3>OldMapsOnline logo:</h3><br>
      <p class="center">
        <a href="/img/oldmapsonline-1024x500.jpg" target="_blank">
          <img src="/img/oldmapsonline-1024x500.jpg" alt="OldMapsOnline logo" style="width: 80%;"><br>
          (1024x500px)</a><br>
      </p>
-->
    </div>
  </div>
</div>
